body{
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
    
}
.main{
    background: #e9e3f9;
}
#logo{
    display: flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
}
#logo img{
    width: 35px;
    height: 35px;
    /* text-align: center; */
    padding: 22px 5px;
}

#slift{
    font-size: 22px;
    font-weight: 700;
    color: rgb(75, 32, 140);
}
#navbar{
    width: 50%;
}
#main-menu{
    display: flex;
    padding: 10px 80px;
}

#list-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
#list-li {
    float: left;
  }

  #list-li a {
    display: block;
    color: black;
    text-align: center;
    padding: 11px 19px;
    margin: 17px;
    text-decoration: none;
    border-radius: 35px;
  }
  #list-li a:hover {
    background-color: #401e74;
    color: white;
  }
  #text-area{
    width: 50%;
  }

  .content{
    padding: 10px 80px;
  }
  #text-area-lift{
    font-weight: 700;
    font-size: 56px;
  }
  #text-paragraph{
    font-size: 22px;
  }
  #btn-contactus{
    border: none;
    font-size: 19px;
    color: white;
    background: #4b208c;
    padding: 10px 40px;
    text-align: center;
    display: block;
    margin-top: 35px;
    border-radius: 35px;

  }
  #ser-h1{
    
    
  }
  #ser-heading{
    display: flex;
    text-align: center;
    width: 50%;
    margin-left: 44%;
    padding: 25px 0;
  }
  #ser-img{
    width: 35px;
    height: 35px;
    padding: 21px 10px;
  }
  #ser-main{
    display: flex;
    margin: 10px 80px
  }
  #ser-side{
    width: 33%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    border-top: 15px solid transparent;
    margin: 0 15px;
    border-radius: 15px;
  }
  #ser-side:hover{
    border-top: 15px solid #512a97;
  }
  #ser-sid-img{
    text-align: center;
    padding-top: 50px;
  }
  #ser-h1{
    font-weight: 900;
  }
  #ser-sid-h2{
    text-align: center;
    color: #2e0e5f;
  }
  #ser-sid-p{
    text-align: center;
    padding: 0 74px
  }
  #readmore{
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }